torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
torchio
tensorboard
albumentations
timm
transformers
diffusers
fvcore
tqdm
ipython
jupyter
numpy
scipy
simpy
nose
scikit_learn
scikit_image
pandas
matplotlib
Pillow
opencv_contrib_python
ffmpeg_python
pyav


